body{
    background-repeat: no-repeat;
    background: position 100px;
    background-size: cover;
}
h1{
    font-size: 80px;
    color: blue;
    text-shadow: 3px 3px white;
}
.btngrp{
    position: fixed;
    right: 70px;
}
#btngrp1{
    background-color: coral;
    font-size: 20px;
    height: 50px;
    width: 100px;
    margin-right: 20px;
    
}   
#btngrp2{
    background-color: rgb(204, 246, 39);
    font-size: 20px;
    height: 50px;
    width: 100px;
    margin-right: 20px;
} 
button:hover{
    opacity: 0.7;
}  
